.app-header {
  background-color: hsla(0, 0%, 0%, 0.16);
  height: em(44px);
  padding: 6px 4px;

  .logo {
    font-weight: 800;
    gap: 4px;
  }

  .user-actions {
    gap: 4px;
  }

  .btn {
    margin: 0;
    padding: 0 9px;
    height: 32px;
  }

  nav {
    a {
      color: #172b4d;
      margin-inline-end: 0.4rem;
    }
  }
}

.app-header-background-color-blue {
  .app-header {
    background-color: #026aa7;
    color: #fff;
  }
}
