.app-header {
  background-color: hsla(0, 0%, 0%, 0.16);
  height: em(44px);
  padding: 6px 4px;
  backdrop-filter: blur(6px);
  transition: background-color 300ms;
  .flex.justify-between.align-center {
    width: 100%;
  }
  .create-board-btn {
    position: relative;
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0.0784313725);
    border-radius: 3px;
    font-weight: 400;
    height: 32px;
    padding: 0 12px;
    &:hover {
      background-color: rgba(0, 0, 0, 0.2);
    }
  }
  .logo-side {
    gap: 4px;

    .logo {
      background-color: transparent !important;
      font-family: 'kanit';
      font-size: em(22px);
      padding: 0;
      margin-inline-end: 6px;
      i {
        font-size: em(13px);
      }
    }
  }

  .user-actions {
    gap: 4px;
  }

  .btn {
    margin: 0;
    padding: 0 9px;
    height: 32px;
  }

  nav {
    a {
      color: #172b4d;
      margin-inline-end: 0.4rem;
    }
  }
}

.app-header-background-color-blue {
  .app-header {
    background-color: #026aa7 !important;
    color: #fff;
  }
}
@media screen and (max-width: 860px) {
  .main-search-container .input-wrapper input.search-input {
    width: 32px;
  }
}
@media screen and (max-width: 460px) {
  .logo {
    .logo-text {
      display: none;
    }
  }
  .create-board-btn {
    font-family: 'trellicons';
    font-style: normal;
    span {
      display: none;
    }
    &::before {
      content: '\e901';
    }
  }
}
