.attachment-popover-container {
    top: 200px;
  .upload-preview {
    margin-bottom: 8px;
    border-bottom: 1px solid rgba(9, 30, 66, 0.13);
  }
}

.attachment-container {
    margin-bottom: rem(24px);
    .task-image-container {
        max-width: 112px
    }
}