.board-header {
    padding: 2px 0 2px;
    flex-wrap: wrap;

    .board-name-input {
        font-weight: 800;
        transition-property: background-color, border-color, box-shadow;
        transition-timing-function: ease;

        &:focus {
            background-color: #fff;
            color: #172b4d;
            box-shadow: inset 0 0 0 2px #0079bf;
        }
    }

    .starred-btn {
        &.starred {
            color: yellow;
        }

        &:hover {
            background-color: rgba(110, 110, 48, 0.3) !important;

            &>i {
                transition: .1s;
                transform: scale(1.15);
            }
        }
    }
}