.main-search-container {
  .input-wrapper {
    position: relative;

    .search-input {
      background-color: rgba(255, 255, 255, 0.2);
      border: 1px solid rgba(255, 255, 255, 0.25);
      color: rgba(255, 255, 255, 0.5);
      float: left;
      font-size: 14px;
      height: 32px;
      outline: none;
      padding-left: 30px;
      padding-right: 8px;
      transition: width 150ms;
      width: 250px;
      &::placeholder {
        color: #fff;
        letter-spacing: 0.5px;
        font-family: 'NotoSans-Regular';
        font-size: 0.9rem;
      }
      &:hover {
        background-color: rgba(255, 255, 255, 0.4);
        border: 1px solid rgba(255, 255, 255, 0.25);
        box-shadow: none;
      }

      &:focus {
        background-color: #ffffff;
        color: #172b4d;
        border: none;
        box-shadow: none;
        padding-right: 54px;
      }
    }
  }

  .search-icon-wrapper {
    position: absolute;
    left: 4px;
    label {
      margin: 0;
      padding: 0;
      color: #ffffff;
      display: flex;
      width: 32px;
      height: 32px;
      justify-content: center;
      align-items: center;
    }
    .search-icon {
      height: 20px;
      width: 20px;
      overflow: hidden;
      pointer-events: none;
      max-width: 100%;
      max-height: 100%;
      color: var(--icon-primary-color);
      fill: var(--icon-secondary-color);
      vertical-align: bottom;
    }
  }
  .input-focus.search-icon {
    filter: invert(11%) sepia(59%) saturate(1914%) hue-rotate(187deg)
      brightness(10%) contrast(104%);
  }
}
