.group-list-container {
  margin-bottom: 8px;
  margin-left: 2px;
  overflow-x: auto;
  overflow-y: hidden;
  padding-bottom: 8px;
  // scroll-snap-type: x mandatory;
  height: calc(100vh - 104px);

  &::-webkit-scrollbar {
    height: 12px;
  }

  // background
  &::-webkit-scrollbar-track {
    background: #00000036;
    border-radius: 4px;
  }

  /* Handle */
  &::-webkit-scrollbar-thumb {
    background: #ffffff64;
    border-radius: 4px;
  }
}