.board-header {
    padding-block: 5px;
    flex-wrap: wrap;

    .btn-background {
        background-color: #00000014;
        border: none;
        border-radius: 3px;
        color: inherit;
        box-shadow: none;
        cursor: pointer;
        line-height: em(24px);
        margin: 0 4px 4px 0;
        padding: 6px 9px;
        font-family: inherit;
        font-size: em(16px);
        transition-property: background-color, border-color, box-shadow;
        transition-duration: 85ms;
        transition-timing-function: ease;

        &:hover {
            background-color: rgba(0, 0, 0, 0.2);
        }
    }

    .board-name-input {
        font-weight: 700;
    }

    .starred-btn {
        &.starred {
            color: yellow;
        }

        &:hover {
            background-color: rgba(110, 110, 48, 0.3) !important;

            &>i {
                transition: .1s;
                transform: scale(1.15);
            }
        }
    }
}