.checklist-popover-container {
  color: #172b4d;
  font-size: rem(14px);
  position: absolute;
  z-index: 20;
  background: #fff;
  .checklist-header {
    text-align: center;
    position: relative;
  }
  .checklist-inputs {
    .add-checklist-btn {
      background-color: #0079bf;
      border: none;
      box-shadow: none;
      color: #fff;
      cursor: pointer;
      display: inline-flex;
      font-size: 14px;
      font-weight: 400;
      justify-content: center;
      line-height: 20px;
      padding: 6px 12px;
      text-decoration: none;
      transition-duration: 85ms;
      transition-property: background-color, border-color, box-shadow;
      transition-timing-function: ease;
      white-space: normal;
      align-items: center;
      border-radius: 3px;
      margin-block-start: 28px;
      padding-inline: 24px;
    }
  }
}
