.group-container {
    background-color: #ebecf0;
    margin: 0 4px;
    padding: 6px 4px 7px 8px;
    border-radius: 3px;
    height: fit-content;
    width: em(272px);
  
    .group-header {
      z-index: 8;
      margin-right: 4px;
  
      .group-title {
        height: em(30px);
        width: 100%;
        font-weight: 600;
        box-shadow: none;
        color: #172b4d;
        font-family: inherit;
        font-size: em(14px);
        cursor: pointer;
        border-radius: 3px;
        margin-bottom: 4px;
        padding: 0 8px;
        transition-property: background-color, border-color, box-shadow;
        transition-timing-function: ease;
  
        &:focus {
          background-color: #fff;
          box-shadow: inset 0 0 0 2px #0079bf;
        }
      }
  
      .group-options-btn {
        position: relative;
        border: none;
        border-radius: 3px;
        background-color: inherit;
        color: #5e6c84;
        font-size: 1.125rem;
        margin: 1px 0;
        margin-left: 3px;
        padding: 8px;
        cursor: pointer;
        top: -3px;
        right: -5px;
  
        &:hover {
          background-color: #091e4214;
        }
      }
    }
  
    .tasks-scrollbar {
      overflow-y: auto;
      scroll-snap-type: x mandatory;
      padding-right: 4px;
      // margin-bottom: 7px;
      // max-height: calc(100vh - 204px);
  
      &::-webkit-scrollbar {
        width: em(8px);
        // scroll-margin-right: 2rem;
      }
  
      // background
      &::-webkit-scrollbar-track {
        background: #091e4214;
        border-radius: 4px;
      }
  
      /* Handle */
      &::-webkit-scrollbar-thumb {
        background: #00000026;
        border-radius: 4px;
      }
    }
  
    .add-task-container {
      border-radius: 3px;
      background-color: inherit;
      color: #5e6c84;
      cursor: pointer;
      gap: 2px;
      margin-right: 4px;
  
      .adding {
        margin-right: 0;
      }
  
      &:hover {
        background-color: #091e4214;
        margin-right: 4px;
          &.task{
            margin-right: -4px;
        }
      }
    }
  }
  
  .new-group-container {
    background-color: #00000014;
    margin: 0 4px;
    width: 272px;
    border-radius: 3px;
  
    &:hover {
      background-color: #00000029;
    }
  
    .add-group-container {
      line-height: em(28px);
      border-radius: 3px;
      cursor: pointer;
      padding: 1.5px 0;
    }
  }
  
  .plus-sign {
    font-size: rem(18px);
  }
  
  .popup {
    overflow: hidden;
    border-radius: 3px;
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Noto Sans, Ubuntu, Droid Sans, Helvetica Neue, sans-serif;
    box-shadow: 0 8px 16px -4px #091e4240, 0 0 0 1px #091e4214;
    width: 300px;
    min-width: max-content;
    position: absolute;
    background-color: #fff;
    z-index: 20;
    color: set-text-color(#fff);
  
    .close-popup-btn {
      z-index: 25;
      position: absolute;
      height: 10px;
      width: 10px;
      top: 11px;
      right: 8px;
    }
  
    h4 {
      margin: 0.8rem;
    }
  
    ul {
      text-align: left;
  
      li {
        margin-bottom: 0.8rem;
        margin-inline-start: 1rem;
      }
    }
  }