.label-list-container {
  .label {
    min-height: 32px;
    font-size: 1rem;
    color: #fffffff3;
    cursor: pointer;
    font-weight: 700;
    margin: 0 0 4px;
    position: relative;
    transition: padding 85ms, margin 85ms, box-shadow 85ms;
    span {
      margin-left: 1rem;
    }
    transition: 100ms padding ease-in-out;
    &:hover {
      padding-inline-start: 0.3rem;
    }
  }
}
