.task-preview {
  margin-block-end: 8px;
  position: relative;
  cursor: pointer;
  word-wrap: break-word;
  position: relative;
  flex-direction: column;
  background-color: #fff;
  box-shadow: 0 1px 0 #091e4240;
  border-radius: 3px;
  padding: 1px 8px;
  min-height: 32px;

  p {
    margin: 4.7px 0 3.7px;
  }

  .hover-edit-btn {
    z-index: 5;
    font-size: rem(17px);
    font-weight: 500;
    position: absolute;
    right: 2px;
    top: 2px;
    padding: 4.5px 4px 4px 7px;
    width: 28px;
    height: 28px;
    border-radius: 2px;
    color: inherit;

    &:hover {
      background-color: #00000020;
    }
  }

  .task-preview-header {
    min-height: em(32px);
    // max-height: em(400px);
    margin: -1px -8px 0px;
    border-radius: 3px 3px 0 0;
    text-align: center;
    // background-color: #949899;

    .task-img-cover {
      background-color: #00000070;
      border-radius: 3px 3px 0 0;
      margin-bottom: -3px;
      // width: 100%;
      min-height: em(32px);
      max-height: em(260px);
      object-fit: cover;
    }
  }
}

.task-labels-container {
  padding-top: 6px;
  margin-bottom: -4px;

  &:hover {
    opacity: 0.8;
  }

  .board-task-label {
    float: left;
    height: em(8px);
    margin: 0 4px 4px 0;
    min-width: em(40px);
    cursor: pointer;
    border-radius: 4px;

    p {
      font-size: em(12px);
      font-weight: 700;
      margin: -2px 0 0;
      padding: 0 8px;
      color: #fff;
    }

    &.shown {
      min-width: em(55px);
      height: em(16px);
    }
  }
}

.task-indicators-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  .task-due-date {
    display: flex;
    border-radius: 3px;
    height: em(24px);
    width: fit-content;
    padding: 1.5px 4px;
    padding-right: 5px;
    color: #fff;
    margin-bottom: 5px;
    margin-right: 6px;

    i {
      font-size: em(16px);
      margin-right: 4px;
    }

    p {
      margin: 0;
      justify-self: center;
      font-size: em(12px);
      font-weight: 400;
    }
  }

  .task-indicators {
    display: flex;
    margin-left: -1px;
    padding: 0;
    padding-right: 5px;

    .task-indicator {
      color: #5e6c84;
      display: flex;
      margin: 0px 4px 4px 2px;
      width: fit-content;
      padding: 2px;
      position: relative;
      text-decoration: none;
      text-overflow: ellipsis;
      vertical-align: top;

      span {
        font-size: em(16px);
      }

      p {
        margin: 0;
        font-size: em(12px);
        padding: 0 4px;
        vertical-align: top;
        white-space: nowrap;
      }
    }
  }

  .task-members-container {
    margin-right: -2.5px;
    display: flex;
    height: em(32px);

    .member-avatar-small {
      margin-left: 4px;
    }
  }
}