.members-popover-container {
  .member-preview {
    background-color: #fff;
    user-select: none;
    padding-inline-start: em(4px);
    cursor: pointer;
    &:hover {
      background-color: #091e420a;
    }
    .member-fullname {
      margin-inline-start: em(5px);
      margin: em(10px) 0 em(10px) em(10px);
    }

    .member-username {
      margin-inline-start: em(3px);
    }

    .trellicons-check {
      padding: 5px 11px 5px 5px;
      // trellicons check icon is "\e916"
    }
  }
  .modal-input {
    background-color: #fafbfc;
    border: none;
    border-radius: 3px;
    box-shadow: inset 0 0 0 2px #dfe1e6;
    margin: 4px 0 12px;
    outline: none;
    padding: 8px 12px;
    width: 100%;

    &:focus {
      background-color: #fff;
      border: 0 #fff;
      box-shadow: inset 0 0 0 2px #0079bf;
    }
  }
}
