.board-side-bar {
    background-color: #f4f5f7;
    position: absolute;
    z-index: 10;
    top: rem(50px);
    right: 0;
    bottom: 0;
    transform: translateX(em(305px));
    width: em(305px);
    transition-duration: .1s;
    transition-property: transform, width;
    transition-timing-function: ease-in;

    &.opened {
        box-shadow: 0 12px 24px -6px #091e4240, 0 0 0 1px #091e4214;
        transform: translateX(0);
    }

    .side-bar-title {
        line-height: rem(20px);
        margin: 16px 32px;
        font-size: em(16px);
        font-weight: 600;
        overflow: hidden;
        text-align: center;
        text-overflow: ellipsis;
        transition: margin .12s ease-in;

    }

    .close-side-bar {
        position: absolute;
        top: 0;
        right: 0;
        padding: 10px 12px;
        font-stretch: expanded;
    }

    .side-header-hr {
        box-sizing: initial;
        background-color: #091e4221;
        border: 0;
        height: 1px;
        margin: 0;
        padding: 0;
        width: 90%;
    }



    .side-bar-options {
        padding: 12px 6px 8px 12px;
        width: 100%;

        li {
            padding: 6px;
            padding-left: 12px;
            font-weight: 600;
            line-height: 20px;
            border-radius: 3px;
            cursor: pointer;

            i {
                font-size: rem(20px);
                margin-right: 8px;
            }

            &:hover {
                background-color: #091e4214;
            }
        }
    }

    .side-bar-activities {
        padding: 12px 6px 8px 12px;
        width: 100%;

        p {
            margin: 0 8px;
        }

        .activities-title {
            padding: 6px;
            padding-left: 12px;
            font-weight: 600;
            line-height: 20px;

            i {
                font-size: rem(20px);
                margin-right: 8px;
            }
        }
    }
}