.dashboard {
  &-layout {
    display: grid;
    grid-template-columns: 20px 1fr 20px;

    * {
      grid-column: 2;
    }
  }

  &-page {
    .trellicons {
      position: absolute;
      cursor: pointer;
      right: 20px;
      top: 14px;
      font-size: 1.3rem;
    }
    min-width: 700px;
    max-height: 650px;
    background-color: #fff;
    position: fixed;
    top: 50%;
    z-index: 30;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 3px;

    h1 {
      font-size: 1.4rem;
      text-align: center;
      margin: 12px;
    }
  }

  &-content {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 8px;

    .item-content {
      align-items: center;
      align-self: center;
      background-color: #00000014;
      height: fit-content;
      display: flex;
      flex: 1;
      flex-direction: column;
      border-radius: 3px;

      h3 {
        font-size: 1.1rem;
        font-weight: 700;
      }

      div {
        display: flex;
        align-items: center;
        justify-content: space-between;
      }

      span {
        font-weight: 600;
        justify-content: space-between;
        font-size: 1.2rem;
        margin: 0 1rem;
        margin-bottom: 18px;
      }
    }
  }
}
.chart-container {
  margin-top: 8px;
  .chart {
    display: flex;
    flex-direction: column;
    flex: 1;

    h1 {
      font-size: 1.2rem;
      font-weight: 500;
      text-align: left;
    }
  }
}

.screen {
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: #00000050;
  backdrop-filter: blur(3px);
}

.circle-bar {
  color: #fff;

  // font-size: .8rem;
  h3 {
    margin-inline-start: 0;
    padding-inline: 0.5rem;
  }

  svg {
    height: 90px;
    transform: rotate(-90deg);
    max-width: 90px;
    margin-block-end: 1rem;
  }

  h2 {
    margin-block-end: 1.2rem;
  }

  .in-progress-bar__background,
  .done-progress-bar__background {
    fill: none;
    stroke: #c8dedf;
    stroke-width: 2;
  }

  .in-progress-bar__progress,
  .done-progress-bar__progress {
    fill: none;
    stroke: #b0bebf;
    stroke: #78c796;
    stroke-dasharray: 100 100;
    stroke-dashoffset: 100;
    stroke-linecap: round;
    stroke-width: 2;
    transition: stroke-dashoffset 1s ease-in-out;
  }
}
