.dashboard {
  &-layout {
    display: grid;
    grid-template-columns: 20px 1fr 20px;

    * {
      grid-column: 2;
    }
  }


  &-page {
    min-width: 1000px;
    min-height: 630px;
    background-color: #fff;
    position: fixed;
    top: 50%;
    z-index: 30;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 3px;
    box-shadow: 0 0 5px 3px #7c7c7c30;

    h1 {
      font-size: em(19px);
      text-align: center;
      margin: 6px;
      margin-bottom: -15px;
      align-self: center;
    }

    >span {
      position: absolute;
      top: 15px;
      right: 15px;
      font-size: em(20px);
      cursor: pointer;
      color: #848484;

      &:hover {
        color: #172b4d;
      }
    }
  }

  &-content {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 8px;

    .item-content {
      align-items: center;
      align-self: center;
      background-color: #00000014;
      height: fit-content;
      display: flex;
      flex: 1;
      flex-direction: column;
      border-radius: 3px;

      h3 {
        font-size: 1.1rem;
        font-weight: 700;
      }

      div {
        display: flex;
        align-items: center;
        justify-content: space-between;
      }

      span {
        font-weight: 600;
        justify-content: space-between;
        font-size: 1.2rem;
        margin: 0 1rem;
        margin-bottom: 18px;
      }
    }
  }


}

.chart-container {
  margin: 0 auto;
  margin-top: 25px;
  margin-bottom: 20px;
  gap: 20px;

  .chart {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    flex: 1;
    gap: 6px;
    width: 300px;
    margin: 0 4px;

    h1 {
      font-size: 1.1rem;
      font-weight: 500;
      text-align: left;
      margin: 6px;
    }
  }
}

.screen {
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: #00000050;
  backdrop-filter: blur(5px);
}

.circle-bar {
  color: #fff;

  h3 {
    margin-inline-start: 0;
    padding-inline: 0.5rem;
  }

  svg {
    height: 90px;
    transform: rotate(-90deg);
    max-width: 90px;
    margin-block-end: 1rem;
  }

  h2 {
    margin-block-end: 1.2rem;
  }

  .in-progress-bar__background,
  .done-progress-bar__background {
    fill: none;
    stroke: #c8dedf;
    stroke-width: 2;
  }

  .in-progress-bar__progress,
  .done-progress-bar__progress {
    fill: none;
    stroke: #b0bebf;
    stroke: #78c796;
    stroke-dasharray: 100 100;
    stroke-dashoffset: 100;
    stroke-linecap: round;
    stroke-width: 2;
    transition: stroke-dashoffset 1s ease-in-out;
  }
}