.boards-page {
  min-height: calc(100vh - 44px);
  color: #172b4d;
  background-color: #fff;
}
.boards-container {
  min-height: 40vh;
  max-width: 75vw;
  margin: 2rem auto;
}
.board-list {
  display: grid;
  grid-template-columns: 150px 150px 150px 150px;
  grid-gap: rem(50px);
  .board-page-display,
  span {
    cursor: pointer;
    color: #fff;
    border-radius: 3px;
    h3 {
      margin: 0;
      margin-inline-start: 8px;
      margin-top: 8px;
    }
  }
  .create-board-item {
    background-color: #091e420a;
    color: #172b4d;
    font-size: rem(14px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
  }

  .star-board-btn {
    position: absolute;
    font-size: 1rem;
    z-index: 10;
    color: #fff;
    font-size: 14px;
    opacity: 0;
    right: -6px;
    bottom: 0px;
    transition: 0.18s ease;
    &.starred {
      color: yellow;
    }
  }
  span {
    position: relative;
  }
  span:hover .star-board-btn {
    margin-right: 9px;

    opacity: 1;
    &:hover {
      transform: scale(1.2);
    }
  }
}
.boards-title {
  margin-inline-start: 8px;
}
.board-list .create-board-item {
  h3 {
    margin: 0;
  }
}
