.screen-overlay.heavy-dark {
  background-color: rgba(0, 0, 0, 0.84);
}
.screen-overlay {
  display: flex;
  height: 100%;
  left: 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 20;
}

.dashboard-modal {
  font-family: 'NotoSans-Regular';
  position: absolute;
  top: 10px;
  right: 50%;
  transform: translate(50%, 0);
  height: 100%;
  max-height: 600px;
  width: 100%;
  // overflow-y: hidden;
  z-index: 30;

  header {
    h1 {
      font-size: em(34px);
      line-height: 40px;
    }
  }
  .dashboard-close {
    position: absolute;
    top: 0;
    right: 20px;
    font-size: em(35px);
    background-color: transparent;
    border: none;
    color: #fff;
    cursor: pointer;
    transition: all 200ms ease-in-out;
    height: 60px;
    width: 60px;
    &:hover {
      font-size: 40px;
    }
  }

  .general-statistics {
    flex-wrap: wrap;
    margin-block-end: 1rem;
    
  gap: em(40px);
    padding: 1rem;
    margin-block-start: 1rem;
    .stats {
      border-radius: 20px;
      box-shadow: 0 3px 15px rgba(0, 0, 0, 0.09);
      max-height: 175px;
      margin-bottom: 20px;
      min-width: 250px;
      background-color: #f4f4f4;
      .content {
        width: 100%;
      }

      &.circle-bar {
        color: #fff;
        // font-size: .8rem;
        h3 {
          margin-inline-start: 0;
          padding-inline: 0.5rem;
        }
        svg {
          height: 100px;
          transform: rotate(-90deg);
          max-width: 100px;
          margin-block-end: 1rem;
        }
        h2 {
          margin-block-end: 1rem;

        }
        .in-progress-bar__background,
        .done-progress-bar__background {
          fill: none;
          stroke: #c8dedf;
          stroke-width: 2;
        }

        .in-progress-bar__progress,
        .done-progress-bar__progress {
          fill: none;
          stroke: #b0bebf;
          stroke: #78c796;
          stroke-dasharray: 100 100;
          stroke-dashoffset: 100;
          stroke-linecap: round;
          stroke-width: 2;
          transition: stroke-dashoffset 1s ease-in-out;
        }
        
      }
      h3 {
        color: #42526e;
        font-size: em(25px);
        letter-spacing: 1px;
        margin-inline-start: em(8px);
        font-family: 'NotoSans-Bold';
      }
      h4 {
        font-size: em(30px);

      }
      h2 {
        color: #42526e;

      }
      &.small {
        align-items: center;
        margin-block: 0;
        min-height: 175px;
        .percent-container {
          height: 100%;
        }
      }

      &.tasks {
        flex-basis: 20%;
        @media(max-width: 780px) {
          flex-basis: 35%;
        }
        @media(max-width: 550px) {
          flex-basis: 50%;
        }
      }

      &.members {
        .chart-member {
          filter: invert(99%) sepia(1%) saturate(2%) hue-rotate(180deg)
            brightness(104%) contrast(100%);
          opacity: 0.8;
          // position: absolute;
          flex-basis: 20%;
        }

      }
      &.overdue {
        background-image: none;
        background-color: rgba(201, 50, 50, 0.296);
        flex-basis: 20%;
        svg {
          margin-block-start: 4rem;

        }
      }
    }
  }

  h1, h2 {
    font-family: 'Roboto-Bold';
    margin-block: em(4px);
  }
  .chart-container {
    gap: em(30px);
    padding: 1rem;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    .task-per-label, .task-per-member, .duedate-chart {
      background-color: #f4f4f4;
      border-radius: 20px;
      padding: 1rem;
      box-shadow: 0 3px 15px rgba(0, 0, 0, 0.09);
      canvas {
        max-width: 300px !important;
        @media (max-width: 405px) {
          max-width: 230px !important;
        } 
      }
    }
    @media (max-width: 780px) {
      flex-direction: column;
    }
  }
  .dash-modal-wrapper {
    background-color: #f6f6f6;
    outline: 4.5px solid rgba(245, 245, 245, 0.393);
    border-radius: 3px;
    padding: 1rem;

  }
}
