.task-detail {
  line-height: rem(20px);
  h3 {
    display: inline-block;
    font-weight: 500;
    margin: 0;
    padding: 0;
  }
  h4 {
    margin: 0;
    padding: 0;
  }
  textarea,
  input[type="text"] {
    -webkit-appearance: none;
    background-color: #fafbfc;
    border: none;
    border-radius: 3px;
    box-sizing: border-box;
    display: block;
    line-height: rem(20px);
    outline: none;
    padding: rem(8px) rem(12px);
    width: 100%;
    transition-duration: 85ms;
    transition-property: background-color, border-color, box-shadow;
    transition-timing-function: ease;
    resize: none;
  }

  .small-title {
    color: #5e6c84;
    font-size: 0.8571428571rem;
    font-weight: 600;
    // letter-spacing: 0.04em;
    font-size: 12px;
    margin-top: 5px;
    // text-transform: uppercase;
  }

  svg {
    width: 24px;
    height: 18px;
  }
  .task-detail-title {
    display: flex;
    grid-gap: 8px;
    gap: 8px;
    align-items: center;
  }
  .detail-modal-container {
    .trellicons {
      width: 32px;
      height: 32px;
      font-size: 24px;
      display: flex;
      align-items: center;
      color: #42526e;
    }
    position: absolute;
    top: 58px;
    left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    min-height: 600px;
    padding-bottom: 32px;
    margin-bottom: 48px;
    height: fit-content;
    width: 768px;
    display: block;
    color: #172b4d;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
      Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-color: #f4f5f7;
    z-index: 40;
    border-radius: 2px;
    cursor: auto;
    .close-modal-btn {
      display: flex;
      justify-content: center;
      align-items: center;
      position: absolute;
      top: 8px;
      right: 8px;
      color: #42526e;
      height: 35px;
      width: 35px;
      font-size: 1.5rem;
      cursor: pointer;
      border: none;
      background-color: transparent;
      &:hover {
        transition: all 250ms;
        border-radius: 50%;
        // padding: 10px;
        background-color: rgba(0, 0, 0, 0.0784313725490196);
      }
    }
    .task-detail-bg {
      min-height: 116px;
    }
    .cover-btn {
      position: relative;
      float: right;
      margin-top: -42px;
      margin-right: 8px;
    }
    .task-detail-header {
      display: flex;
      padding: 20px 8px 0 16px;
      gap: 8px;

      .title-input {
        border: none;
        outline: none;
        // min-height: 24px;
        padding: 4px 8px;
        min-height: 33.333px;
        border-radius: 3px;
        font-size: 1.25rem;
        font-weight: 600;
        line-height: 24px;
        transition: border 0.1s;
        font-family: inherit;
        width: 100%;
        margin-right: 50px;
        background-color: transparent;
        overflow-y: hidden;
        overflow-wrap: break-word;
        color: #172b4d;
      }
      .title-input:focus-within {
        background-color: $clr3;
        box-shadow: inset 0 0 0 2px #0079bf;
      }
    }
    .subtitle-header {
      opacity: 0.8;
      margin: 0 58px;
      p {
        margin: 0 0 8px;
      }
    }
    .task-detail-main {
      padding: 0 8px 8px 29px;
      flex-basis: 75%;
      .description-container {
        margin-bottom: 24px;
        .description-header {
          padding: 8px 0;
        }
      }
      .task-description-txt {
        margin-inline-start: rem(40px);
        textarea {
          width: 100%;
          border: none;
          outline: none;
          border-radius: 3px;
          background-color: #eaecf0;
          cursor: pointer;
          padding: 8px 12px;
          resize: none;
          color: #172b4d;
          font-family: inherit;
          font-size: 1rem;
          overflow-wrap: break-word;
        }
      }
      .members-labels-container {
        display: flex;
        margin: 9px 0 24px 26px;
        gap: rem(8px);
        position: relative;
        flex-wrap: wrap;
        .task-labels {
          display: flex;
          padding: 0.5rem 0;
          .label-prev {
            min-width: 40px;
            min-height: 32px;
            margin: 0 rem(4px) rem(4px) 0;
            font-size: 0.9rem;
            color: #f4f5f7;
            font-weight: 600;
            .label-bg {
              height: 100%;
              width: 100%;
              border-radius: 3px;
              padding: 0 rem(12px);
            }
          }
        }
        .due-date-container {
          flex-direction: column;
          align-items: flex-start;
          label {
            padding: 0.5rem 0;
            padding-inline-end: 0.3rem;
          }
          .due-date-picker {
            position: absolute;
            background-color: transparent;
            border: none;
            top: 0;
            z-index: 10;
            padding: 0.6rem 0;
          }

          .due-date-txt {
            border-radius: 5px;
            margin-inline-start: 0.5rem;
            color: #172b4ddd;
          }
          .due-date-btn {
            background-color: transparent;
            border: none;
            cursor: pointer;
            display: flex;
            align-items: center;
            background-color: rgba(9, 30, 66, 0.0392156862745098);
            padding: 0.2rem;
            border-radius: 3px;
            &:hover {
              transition: all 85ms ease-in-out;
              background-color: rgba(9, 30, 66, 0.082156862745098);
            }
          }
        }
      }
    }
    .detail-sidebar {
      padding: 0 16px 8px 8px;
      display: flex;
      flex-basis: 25%;
      flex-direction: column;
      gap: 8px;
      width: calc(100% - 600px);
      .trellicons {
        font-size: 1.15rem;
        height: 16px;
        width: 16px;
        color: rgb(66, 82, 110);
        fill: inherit;
      }
      .sidebar-btn {
        position: relative;
        display: flex;
        align-items: center;
        border: none;
        border-radius: 3px;
        color: #172b4d;
        font-family: inherit;
        gap: rem(9px);
        font-size: 1rem;
        line-height: rem(20px);
        padding: rem(8px) rem(7.7px);
        transition: all 85ms ease;
        background-color: rgba(9, 30, 66, 0.0392156862745098);
        width: 100%;
        margin-top: rem(8.9px);
        cursor: pointer;
        svg {
          height: 13px;
          width: 13px;
        }

        &:hover {
          transition: all 85ms ease-in-out;
          background-color: rgba(9, 30, 66, 0.082156862745098);
        }
      }
      .datepicker-side {
        position: absolute;
        top: 0;
        right: 0;
        z-index: 10;
      }
      input[type='text'] {
        margin-bottom: rem(12px);
      }
      h4 {
        font-weight: 400;
      }
      .label-list-container {
        .label {
          min-height: 32px;
          font-size: rem(14px);
          color: #fffffff3;
          cursor: pointer;
          font-weight: 700;
          margin: 0 0 4px;
          position: relative;
          transition: padding 85ms, margin 85ms, box-shadow 85ms;
          span {
            margin-left: rem(5px);
          }
          transition: 100ms padding ease-in-out;
          &:hover {
            padding-inline-start: 0.5rem;
          }
        }
      }
    }
  }
}
