.task-detail {
  line-height: rem(20px);
  z-index: 20;

  .btn {
    border: none;
    border-radius: 3px;
    margin-top: 1rem;
    margin-bottom: 1rem;
    padding: 6px 12px;
    text-decoration: none;
    background-color: #091e420a;
    color: #172b4d;
    cursor: pointer;

    &:hover {
      background-color: #091e4218;
    }

    &.remove-attach-btn {
      margin: 0;
    }
  }

  h3 {
    display: inline-block;
    font-weight: 500;
    margin: 0;
    padding: 0;
  }

  h4 {
    margin: 0;
    padding: 0;
  }

  .cover-btn {
    background-color: #00000014;
    border-radius: 3px;
    color: inherit;
    padding: 6px 12px 6px 4px;
    text-decoration: none;
    border: none;
    gap: 6px;
    line-height: 20px;
    font-family: inherit;
    cursor: pointer;

    .cover-icon {
      font-size: 16px;
    }

    &:hover {
      background-color: #091e422d;
    }
  }

  .small-title {
    color: #5e6c84;
    font-size: 0.8571428571rem;
    font-weight: 600;
    // letter-spacing: 0.04em;
    font-size: 12px;
    margin-top: 5px;
    // text-transform: uppercase;
  }

  svg {
    width: 24px;
    height: 18px;
  }

  .task-detail-title {
    display: flex;
    grid-gap: 8px;
    gap: 8px;
    align-items: center;
  }

  .detail-modal-container {
    .task-detail-header,
    .task-detail-main {
      .trellicons {
        width: 32px;
        height: 32px;
        font-size: 24px;
        display: flex;
        align-items: center;
        color: #42526e;
      }
    }

    position: absolute;
    top: 45px;
    left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    min-height: 600px;
    padding-bottom: 32px;
    margin-bottom: 48px;
    height: fit-content;
    max-width: 768px;
    width: 100%;
    display: block;
    color: #172b4d;
    font-family: inherit;
    background-color: #f4f5f7;
    border-radius: 2px;
    cursor: auto;

    .close-modal-btn {
      display: flex;
      justify-content: center;
      align-items: center;
      position: absolute;
      top: 8px;
      right: 8px;
      color: #42526e;
      height: 35px;
      width: 35px;
      font-size: 1.5rem;
      cursor: pointer;
      border: none;
      background-color: transparent;
      border-radius: 50%;

      &:hover {
        transition: all 250ms;
        // padding: 10px;
        background-color: rgba(0, 0, 0, 0.0784313725490196);
      }
    }

    .task-detail-bg {
      cursor: pointer;
      min-height: em(116px);
      border-radius: 2px 2px 0 0;
      background-size: contain;
      background-origin: content-box;
      padding: 0px;
      background-position: center center;
      background-repeat: no-repeat;

      img {
        max-height: 160px;
        object-fit: contain;
      }
    }

    .cover-btn {
      position: relative;
      float: right;
      margin-top: -42px;
      margin-right: 8px;

      & .dynamic-popover {
        top: 0;
      }
    }

    .task-detail-header {
      display: flex;
      padding: 16px 8px 0 20px;
      .task-title-container {
        width: 90%;
      }
      .title-input {
        border: none;
        outline: none;
        // min-height: 24px;
        padding: 4px 8px;
        min-height: 33.333px;
        border-radius: 3px;
        font-size: 20px;
        font-weight: 600;
        line-height: 24px;
        transition: border 0.1s;
        font-family: inherit;
        width: 100%;
        margin-right: 50px;
        background-color: transparent;
        overflow-y: hidden;
        overflow-wrap: break-word;
        color: #172b4d;
      }

      .title-input:focus-within {
        background-color: $clr3;
        box-shadow: inset 0 0 0 2px #0079bf;
      }
    }

    .subtitle-header {
      opacity: 0.8;
      padding: 0 10px;

      p {
        margin: 0 0 8px;
      }
    }

    .task-detail-main {
      padding: 0 8px 8px 20px;
      flex-basis: 75%;
      .members-labels-container {
        display: flex;
        margin: 8px 0 0 40px;
        gap: rem(8px);
        position: relative;
        flex-wrap: wrap;
        .members-container {
          h3 {
            display: block;
          }
        }
        .labels-container {
          h3 {
            position: relative;
            top: -2px;
          }
        }
        .add-label-btn,
        .remove-duedate-btn {
          background-color: #091e420a;
          border: none;
          display: flex;
          align-items: center;
          border-radius: 3px;
          cursor: pointer;

          span {
            font-size: 16px;
            color: #42526e;
          }

          &:hover {
            background-color: #091e4218;
          }
        }

        .add-label-btn {
          width: 32px;
          height: 32px;
        }

        .remove-duedate-btn span {
          font-size: 1rem;
        }
        h3 {
          margin: 0 4px 4px 0;
        }

        .task-labels {
          display: flex;
          flex-wrap: wrap;

          .label-prev {
            min-width: 40px;
            min-height: 32px;
            margin: 0 rem(4px) rem(4px) 0;
            font-size: 0.9rem;
            color: #f4f5f7;
            font-weight: 600;
            user-select: none;
            cursor: pointer;

            .label-bg {
              height: 100%;
              width: 100%;
              border-radius: 3px;
              padding: 0 rem(12px);
            }
          }
        }

        .due-date-container {
          height: 100%;
          flex-direction: column;
          align-items: flex-start;
          input {
            cursor: pointer;
            background-color: #fafbfc;
            border-radius: 2px;
            box-shadow: inset 0 0 0 2px #dfe1e6;
            height: 16px;
            margin: auto 4px auto 0;
            white-space: nowrap;
            width: 16px;
          }

          .due-date-txt {
            border-radius: 5px;
            margin-inline-start: 0.5rem;
            color: #172b4ddd;
          }

          .due-date-btn {
            cursor: pointer;
            color: #172b4d;
            display: inline-flex;
            align-items: center;
            justify-content: center;
            border-radius: 3px;
            padding: 6px 12px;
            margin: 0;
            background-color: rgba(9, 30, 66, 0.04);
            border: none;
            transition: all 85ms ease-in-out;

            .task-complete {
              color: #ffffff;
              background-color: #61bd4f;
              font-size: 12px;
              line-height: 16px;
              padding: 0 4px;
              border-radius: 2px;
              margin: auto 0 auto 8px;
            }

            &:hover {
              background-color: rgba(9, 30, 66, 0.082156862745098);
            }
          }
        }
      }
    }
    .attachment-header {
      margin-bottom: 8px;
      h3 {
        margin-left: 8px;
        font-size: em(16px);
      }
    }

    .attachment-preview {
      height: em(80px);
      margin-left: 40px;
      margin-bottom: 12px;
      padding: 1px 0;

      // &:hover{
      //   background-color: #00000014;
      // }

      img {
        border-radius: 3px;
      }

      p {
        margin: 2px 0;
        color: #5e6c84;
      }

      .attach-btn {
        text-decoration: underline;
        cursor: pointer;

        &:hover {
          color: #172b4d;
        }
      }

      h3 {
        font-size: em(14px);
        font-weight: 700;
      }

      .attachment-details {
        padding: 7px 16px;
        gap: 1px;
        justify-content: space-between;

        .cover-icon {
          width: auto;
          margin-left: 2px;
          margin-right: 6px;
          font-size: em(16px);
          color: #42526e;
        }
      }
    }

    .add-attach-btn {
      margin-top: 8px;
      margin-left: 40px;
      font-size: em(14px);
      background-color: #091e420a;
      padding: 0 12px;
      white-space: normal;
      &:hover {
        background-color: #091e4214;
      }
    }

    .detail-sidebar {
      padding: 0 16px 8px 8px;
      display: flex;
      flex-basis: 25%;
      flex-direction: column;
      gap: 8px;
      width: calc(100% - 600px);

      .trellicons {
        font-size: 1.15rem;
        height: 16px;
        width: 16px;
        color: rgb(66, 82, 110);
        fill: inherit;

        &.trellicons-close-btn {
          color: #6b778c;

          &:hover {
            color: #172b4d;
          }
        }
      }

      .sidebar-btn {
        position: relative;
        display: flex;
        align-items: center;
        border: none;
        border-radius: 3px;
        color: #172b4d;
        font-family: inherit;
        gap: rem(9px);
        font-size: 1rem;
        line-height: rem(20px);
        padding: rem(8px) rem(7.7px);
        transition: all 85ms ease;
        background-color: rgba(9, 30, 66, 0.0392156862745098);
        width: 100%;
        margin-top: rem(8.9px);
        cursor: pointer;

        svg {
          height: 13px;
          width: 13px;
        }

        &:hover {
          transition: all 85ms ease-in-out;
          background-color: rgba(9, 30, 66, 0.082156862745098);
        }
      }

      .datepicker-side {
        position: absolute;
        top: 0;
        right: 0;
        z-index: 10;
      }

      input[type='text'] {
        margin-bottom: rem(12px);
      }

      h4 {
        font-weight: 400;
      }
    }
  }

  .comment-container {
    .comment-input {
      overflow: hidden;
      overflow-wrap: break-word;
      height: 20px;
      background: #fff !important;
      box-sizing: initial;
      min-height: 20px;
      resize: none;
      width: 100%;
      box-shadow: 0 1px 2px -1px #091e4240, 0 0 0 1px #091e4214;
    }
  }

  .due-date-picker {
    position: absolute;
    background-color: transparent;
    border: none;
    top: 0;
    z-index: 10;
    padding: 0.6rem 0;
  }
}
@media screen and (max-width: 520px) {
  .task-detail-container {
    flex-direction: column;
  }
  .task-detail .detail-modal-container .detail-sidebar {
    width: 100%;
    padding: 0;
    margin: 8px;
    flex-direction: row;
    .pos-relative {
      padding: 0 12px;
      width: 100%;
    }
    .sidebar-btn {
      width: calc(50% - 8px);
    }
    .actions {
      padding: 0;
    }
  }
}
.img-container.add-member-btn {
  width: em(32px);
  height: em(32px);
  border-radius: 50%;
  position: relative;
  cursor: pointer;
  background-color: #091e420a;
  &:hover {
    background-color: #091e4214;
  }
  &::before {
    content: '\e901';
    font-size: 1.14rem;
    height: 16px;
    color: #42526e;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    &:hover {
      color: #091e42;
    }
  }
}
.task-labels {
  position: relative;
  top: -2px;
}
