.task-detail {
  line-height: rem(20px);
  h3 {
    display: inline-block;
  }
  .small-title {
    color: #5e6c84;
    font-size: 0.8571428571rem;
    font-weight: 500;
    margin-bottom: 4px;
    letter-spacing: 0.04em;
    line-height: 20px;
    text-transform: uppercase;
  }

  svg {
    width: 24px;
    height: 18px;
  }
  .description-container,
  .task-detail-title {
    display: flex;
    grid-gap: 8px;
    gap: 8px;
    align-items: center;
  }
  .detail-modal-container {
    position: absolute;
    top: 46px;
    left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    min-height: 600px;
    padding-bottom: 32px;
    margin-bottom: 48px;
    height: fit-content;
    width: 768px;
    display: block;
    color: #172b4d;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
      Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-color: #f4f5f7;
    z-index: 40;
    border-radius: 2px;
    cursor: auto;
    .close-modal-btn {
      display: flex;
      justify-content: center;
      align-items: center;
      position: absolute;
      top: 8px;
      right: 8px;
      color: #42526e;
      background-color: rgba(0, 0, 0, 0.0784313725490196);
      height: 40px;
      width: 40px;
      border-radius: 50%;
      transition: background-color 85ms, color 85ms;
      font-size: 2.2857142857rem;
      padding: 10px;
    }
    .task-detail-bg {
      min-height: 116px;
    }
    .cover-btn {
      position: relative;
      float: right;
      margin-top: -42px;
      margin-right: 8px;
    }
    .task-detail-header {
      display: flex;
      align-items: center;
      padding: 20px 8px 0 16px;
      span {
        margin-block-end: 0.3rem;
      }
      .title-input {
        border: none;
        outline: none;
        min-height: 24px;
        padding: 4px 8px;
        height: 33.333px;
        border-radius: 3px;
        font-size: 1.25rem;
        font-weight: 600;
        line-height: 24px;
        transition: border 0.1s;
        font-family: inherit;
        width: 100%;
        margin-right: 50px;
        background-color: transparent;
      }
      .title-input:focus {
        background-color: $clr3;
        border: 2px solid rgb(17, 53, 114);
      }
    }
    .task-detail-main {
      padding: 0 8px 8px 16px;
      flex-basis: 75%;
      .task-description-txt {
        textarea {
          width: 100%;
          border: none;
          outline: none;
          border-radius: 3px;
          background-color: #eaecf0;
          cursor: pointer;
          padding: 8px 12px;
          resize: none;
          color: #172b4d;
          font-family: inherit;
          font-size: 1rem;
        }
      }
      .members-labels-container {
        display: flex;
        grid-gap: 16px;
        gap: 16px;
        margin: 24px 0 24px 26px;
        position: relative;
        flex-wrap: wrap;
        .due-date-container {
          flex-direction: column;
          align-items: flex-start;
          .due-date-picker {
            position: absolute;
            background-color: transparent;
            border: none;
          }

          .due-date-txt {
            background-color: darken($clr3, 10%);
            padding: 0.2rem;
            border-radius: 5px;
            margin-inline-start: 0.5rem;
          }
        }
      }
    }
    .detail-sidebar {
      padding: 0 16px 8px 8px;
      display: flex;
      flex-basis: 25%;
      flex-direction: column;
      gap: 8px;
      .sidebar-btn {
        display: flex;
        align-items: center;
        border: none;
        border-radius: 3px;
        color: #172b4d;
        font-family: inherit;
        gap: rem(6px);
        font-size: 1rem;
        line-height: rem(20px);
        padding: rem(8px) rem(12px);
        transition: all 85ms ease;
        background-color: rgba(9, 30, 66, 0.0392156862745098);
        width: 100%;
        margin-block-start: rem(8px);
        cursor: pointer;
        svg {
          height: 14px;
          width: 14px;
        }
        &:hover {
          transition: all 85ms ease-in-out;
          background-color: rgba(9, 30, 66, 0.152156862745098);
        }
      }
    }
  }
}
