@font-face {
  font-family: 'Roboto-Regular';
  src: local('Roboto-Regular'), url('/src/assets/fonts/Roboto/Roboto-Regular.ttf');
}

@font-face {
  font-family: 'Roboto-Bold';
  src: url('/src/assets/fonts/Roboto/Roboto-Bold.ttf');
}

@font-face {
  font-family: 'Roboto-Medium';
  src: url('/src/assets/fonts/Roboto/Roboto-Medium.ttf');
}

@font-face {
  font-family: trellicons;
  src: url('/src/assets/fonts/trellicons/trellicons.ttf');
}