@font-face {
  font-family: 'Roboto-Regular';
  src: local('Roboto-Regular'), url('/src/assets/fonts/Roboto/Roboto-Regular.ttf');
}

@font-face {
  font-family: 'Roboto-Light';
  src: local('Roboto-Regular'), url('/src/assets/fonts/Roboto/Roboto-Light.ttf');
}

@font-face {
  font-family: 'Roboto-Bold';
  src: url('/src/assets/fonts/Roboto/Roboto-Bold.ttf');
}

@font-face {
  font-family: 'Roboto-Medium';
  src: url('/src/assets/fonts/Roboto/Roboto-Medium.ttf');
}

@font-face {
  font-family: 'NotoSans-Bold';
  src: url('/src/assets/fonts/Noto-Sans/NotoSans-Bold.otf');
}

@font-face {
  font-family: 'NotoSans-Regular';
  src: url('/src/assets/fonts/Noto-Sans/NotoSans-Regular.otf');
}

@font-face {
  font-family: trellicons;
  src: url('/src/assets/fonts/trellicons/trellicons.ttf');
}

@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@500&display=swap');