
// COLOR PALETTE
$clr1: #44baff;
$clr2: #000;
$clr3: #fff;
$clr4: darken($clr3, 40%);
$clr5: #2d2d2d;

// LAYOUT
$layoutPadding: 5px;

$box-shadow:inset 0 0 0 2px #dfe1e6;

// LAYOUT BREAKPOINTS
$break-narrow: 520px;
$break-normal: 740px;
$break-wide: 960px;

// $padded-break-narrow: $break-narrow + $layoutPadding * 2;
// $padded-break-normal: $break-normal + $layoutPadding * 2;
// $padded-break-wide: $break-wide + $layoutPadding * 2;